h1,h2,h3,h4,h5,h6,p{
	margin: 0;
	padding: 0;
	font-size: 16px;
}
a{
	text-decoration: none;
}

.fixed{
	position: fixed;
	width: 100%;
}

/*-------------------------------------------slider start------------------------------------------*/

.slider{
	background-color: #5a5f65;
	padding-top: 280px;
	text-align: center;
	padding-bottom: 170px;
	background-image: url(../img/header-bg.jpg);
}
.slider h1{
	font-size: 60px;
	color: #d8dfe1;
	font-family: arial;
	margin-bottom: 30px;
}
.slider h1 span{
	color: #f2c926;
}
.slider p{
	color: #d8dfe1;
	font-family: arial;
	margin-bottom: 85px;
	font-weight: bold;
}
.slider button{
	width: 180px;
	height: 50px;
	line-height: 50px;
	border-radius: 8px;
	border: 1px solid #f0c30e;
	color: #284c56;
	background-color: #f0c30e;
	font-size: 18px;
}

/*-------------------------------------------slider end---------------------------------------------*/ 

.about{
	text-align: center;
}
.about h1{
	font-size: 30px;
	font-weight: bold;
	color: #1c424d;
	margin-top: 118px;
	margin-bottom: 60px;
}
.about h1 span{
	font-size: 26px;
	font-weight: 600;
}
.about p{
	color: #5b777f;
	margin-bottom: 60px;
}
.are{
	margin-bottom: 120px;
}
.are img{
	width: 100%;
}
.are h1{
	font-size: 26px;
	font-weight: bold;
	color: #1c424d;
	margin-bottom: 26px;
}
.are p{
	font-size: 14px;
	color: #5b777f;
	margin-bottom: 40px;
}
.are ul li{
	list-style: none;
}
.are ul li a{
	color: #1c424d;
}
.are ul li a i{
	margin-right: 8px;
	color: #f3ca27;
}

.our{
	background-color: #032e3a;
	text-align: center;
	padding-bottom: 100px;
}
.our h1{
	font-size: 30px;
	color: #ffffff;
	padding-top: 115px;
	margin-bottom: 35px;
}
.our p{
	color: #ffffff;
	margin-top: 35px;
	margin-bottom: 44px; 
}
.our h2{
	color: #ffffff;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 30px;
}
.our p.different{
	font-size: 12px;
	margin-bottom: 0;
	margin-top: 0;
}
.our i{
	font-weight: bold;
	font-size: 36px;
	margin-bottom: 30px;
	color: #f3ca27;
	border: 1px solid #032934;
	background-color: #032934;
	width: 100px;
	height: 80px;
	line-height: 80px;
}
hr{
	width: 70px;
	background-color: #f3ca27;
	border: 2px solid #f3ca27;
}

.portfolio{
	text-align: center;
	margin-top: 120px;
	margin-bottom: 112px;
}

.portfolio h1{
	font-size: 30px;
	margin-bottom: 35px;
	font-weight: bold;
	color: #1c424d;
}
.portfolio h1 span{
	font-weight: 600;
}
.portfolio p{
	color: #1c424d;
	font-weight: 600;
	margin-top: 35px;
	margin-bottom: 50px;
}
.portfolio ul li{
	margin-bottom: 40px;
	margin-right: 10px;
	border: 1px solid #f5f5f5;
	padding: 17px 20px;
	background-color: #f5f5f5;
	display: inline;
}
.portfolio ul li a{
	color: #4c4c4c;
	text-decoration: none;
}
.portfolio ul li.different{
	background-color: #1c424d;
}
.portfolio ul li.different a{
	color: #ffffff;
}
.portfolio img{
	margin-top: 40px;
}


.code{
	padding-top: 110px;
	padding-bottom: 105px;
	text-align: center;
	background-size: cover;
	background-attachment: fixed;
	background-image: url(../img/statistics-bg.jpg);
}
.code i{
	color: red;
	font-size: 40px;
	color: #ffffff;
	margin-bottom: 35px;
}
.code h1{
	font-size: 30px;
	margin-bottom: 30px;
	color: #fdd835;
}
.code p{
	color: #eeeeee;
}



.meet{
	text-align: center;
	padding-top: 115px;
	padding-bottom: 145px;
}
.meet h1{
	font-size: 32px;
	color: #1c424d;
	margin-bottom: 30px;
}
.meet p{
	color: #1c424d;
	margin-top: 30px;
	margin-bottom: 50px;
}

.meet h2{
	margin-top: 20px;
	margin-bottom: 15px;
	color: #1c424d;
	font-size: 20px;
}
.meet h3{
	color: #1c424d;
	margin-bottom: 30px;
}
.meet i{
	margin-right: 12px;
	font-size: 20px;
	font-weight: bold;
	color: #f3ca27;
}



.client{
	padding-top: 117px;
	padding-bottom: 90px;
	text-align: center;
	background-attachment: fixed;
	background-image: url(../img/statistics-bg.jpg);
	background-size: cover;
}
.client h1{
	font-size: 35px;
	font-weight: bold;
	margin-bottom: 30px;
	color: #ffffff;
}
.client p{
	color: #d3d3d3;
	margin-top: 30px;
}


.contact{
	margin-top: 115px;
	text-align: center;
}
.contact h1{
	font-size: 35px;
	font-weight: bold;
	color: #183e49;
	margin-bottom: 30px;
}
.contact p{
	color: #032731;
	margin-top: 30px;
	margin-bottom: 50px;
	font-size: 22px;
}
.contact i{
	font-size: 20px;
	margin-bottom: 30px;
	color: #f3ca27;
}
.contact h2{
	color: #032731;
	font-size: 15px;	
}

.leave{
	margin-bottom: 116px;
	text-align: center;
	margin-top: 40px;
}
.leave h1{
	font-size: 22px;
	margin-bottom: 55px;
}
.leave input{
	width: 100%;
	padding-left: 15px;
	margin-bottom: 30px;
	color: #999999;
}
.leave textarea{
	width: 100%;
	margin-bottom: 35px;
	height: 90px;
	padding-left: 15px;
	color: #999999;
}
.leave button{
	width: 170px;
	height: 60px;
	line-height: 60px;
	background-color: #032731;
	color: #fef9e7;
	border: 3px solid #f3ca27;
	border-radius:8px;
	margin-bottom: 90px;
}
.leave ul li{
	display: inline;
	margin-right: 40px;
	font-size: 24px;
}
.leave ul li i{
	color: #f3ca27;
}

.copy{
	background-color: #032731;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
}
.copy p{
	color: #d4d4d4;
}



ul.my{
	text-align: center;
}
ul.my li{
	display: inline;
}
.tab img{
	margin-bottom: 35px;
}



/* testimonial slider */

.col-center {
	margin: 0 auto;
	float: none !important;
}
.carousel {
	margin: 0px auto;
	padding: 0 70px;
}
.carousel .item {
	color: #999;
	font-size: 14px;
    text-align: center;
	overflow: hidden;
    min-height: 290px;
}

.carousel .overview {	
	font-style: italic;
}
.carousel .overview b {
	text-transform: uppercase;
	color: #7AA641;
}
.carousel .carousel-control {
	width: 40px;
    height: 40px;
    margin-top: -20px;
    top: 50%;
	background: none;
}
.carousel-control i {
    font-size: 68px;
	line-height: 42px;
    position: absolute;
    display: inline-block;
	color: rgba(0, 0, 0, 0.8);
    text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}
.carousel .carousel-indicators {
	bottom: -40px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	margin: 1px 3px;
	border-radius: 50%;
}
.carousel-indicators li {	
	background: #999;
	border-color: transparent;
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
.carousel-indicators li.active {	
	background: #555;		
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}

